.summary {
    padding-left: 4rem;
    padding-right: 4rem;
}

.summary_hr {
    color: rgb(143, 136, 136);
}

.summary_list {
    font-size: 1.2rem;
    list-style-type: disc;
    font-family: "Roboto";
}
li.summary_list:not(:last-child) {
    margin-bottom: 0.7rem;
}
